*.sdf
*.lastbuildstate
*.tlog
*.idb
*.ipch
AlphaClient/AlphaTest/Debug/
*.opensdf
AlphaClient/AlphaCommon/Debug/AlphaCommon.unsuccessfulbuild
AlphaClient/AlphaGraph/Debug/AlphaGraph.unsuccessfulbuild
AlphaClient/AlphaGraph/Debug/CRenderStateMgr.obj
AlphaClient/AlphaGraph/Debug/CRenderStateMgrD3D9.obj
AlphaClient/AlphaGraph/Debug/CRenderer.obj
AlphaClient/AlphaGraph/Debug/CScene.obj
AlphaClient/AlphaGraph/Debug/CShader.obj
AlphaClient/AlphaGraph/Debug/CShaderD3D9.obj
AlphaClient/AlphaGraph/Debug/CTexture.obj
AlphaClient/AlphaGraph/Debug/CTextureD3D9.obj
AlphaClient/AlphaGraph/Debug/CVertexFormat.obj
AlphaClient/AlphaGraph/Debug/CVertexFormatMgr.obj
AlphaClient/AlphaGraph/Debug/CGraphicFactoryD3D9.obj
AlphaClient/AlphaGraph/Debug/CGraphicRes.obj
AlphaClient/AlphaGraph/Debug/CGraphicResMgr.obj
AlphaClient/AlphaGraph/Debug/CModel.obj
AlphaClient/AlphaGraph/Debug/CRenderCommandMgr.obj
AlphaClient/AlphaGraph/Debug/CVertexFormatD3D9.obj
AlphaClient/AlphaGraph/Debug/vc120.pdb
AlphaClient/AlphaTest/AlphaTest.vcxproj.user
AlphaClient/Debug/AlphaTest.exe
AlphaClient/AlphaClient.v12.suo
AlphaClient/AlphaCommon/Debug/AlphaCommon.log
AlphaClient/AlphaCommon/Debug/AlphaCommon.pch
AlphaClient/AlphaCommon/Debug/CAlphaWindow.obj
AlphaClient/AlphaCommon/Debug/stdafx.obj
AlphaClient/AlphaCommon/Debug/vc120.pdb
AlphaClient/AlphaGraph/Debug/AlphaGraph.Build.CppClean.log
AlphaClient/AlphaGraph/Debug/AlphaGraph.log
AlphaClient/AlphaGraph/Debug/AlphaGraph.pch
AlphaClient/AlphaGraph/Debug/CCamera.obj
AlphaClient/AlphaGraph/Debug/CGeometryBuffer.obj
AlphaClient/AlphaGraph/Debug/CGeometryBufferD3D9.obj
AlphaClient/AlphaGraph/Debug/CGraphic.obj
AlphaClient/AlphaGraph/Debug/CGraphicD3D9.obj
AlphaClient/AlphaGraph/Debug/CGraphicFactory.obj
AlphaClient/AlphaGraph/Debug/Stdafx.obj
AlphaClient/Debug/AlphaTest.ilk
AlphaClient/Debug/AlphaTest.pdb
AlphaClient/lib/Debug/AlphaCommon.lib
AlphaClient/lib/Debug/AlphaGraph.lib
AlphaClient/AlphaCommon/AlphaCommon.vcxproj
AlphaClient/AlphaGraph/AlphaGraph.vcxproj
AlphaClient/AlphaNetwork/AlphaNetwork.vcxproj
AlphaClient/AlphaShader/AlphaShader.vcxproj
AlphaClient/AlphaTest/AlphaTest.vcxproj
*.obj
*.pdb
AlphaClient/AlphaCommon/Debug/AlphaCommon.Build.CppClean.log
AlphaClient/AlphaGraph/AlphaGraph.vcxproj.user
AlphaClient/.vs/AlphaClient/v14/.suo
